.bulma {
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
  color: tomato;
}
footer {
    padding: 20px;
    border-top: 1px solid white;
    text-align: center;
    color:black;
  }